/* Add styling for your page here */
.App {
  font-size: 16px;
}

h1 {
  text-align: center;
  margin: 2vh;
}

#content {
  display: flex;
  flex-direction: row;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0vw 2vw;
}

#gallery p {
  break-inside: avoid;
}
