/* Add styling for your page here */
.App {
  font-size: 20px;
}

h1 {
  text-align: center;
  margin: 2vh;
}

#content {
  display: flex;
  flex-direction: row;
}

#gallery {
  width: 70%; 
  column-count: 3;
  margin: 0vw 2vw;
}

#gallery p {
  break-inside: avoid;
}
